// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.product-image {
  height: 192px;
  width: 192px;
  border: 1px solid #999;
  min-width: 192px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.7);
  margin-bottom: 5px;
}

div.product-image {
  margin-bottom: 20px;
}

div.product-details form input.btn {
  margin-top: 5px;
}

header nav {
  right: 20px;
  top: 15px;
  position: absolute;
}


img.product-image-detail {
  border: 1px solid #999;
  min-width: 192px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.7);
  margin-bottom: 5px;
}

.product-container-card {
  background: #eee;
  min-height: 192px !important;
  box-shadow: 1px 1px 2px rgba(0,0,0,.7);
  padding: 15px;
  position: relative;
}

.product-container-card h3.price {
  line-height: 20px;
  margin-top: 0;
}

.product-container-card a.edit-product-link {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.product-container-card p.review {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}