<% if @products_in_cart.count > 0 %>
  <table class="table">
    <tbody>
      <% @products_in_cart.each do |product| %>
        <tr>
          <td class="product-name"><%= product.name %></td>
          <td class="product-price"><%= number_to_currency(product.price) %></td>
        </tr>
      <% end %>
        <tr>
          <td></td>
          <th class="cart-total"><%= number_to_currency(@cart_total) %></th>
        </tr>
    </tbody>
  </table>
<% else %>
  <p>There is nothing in your cart, sir.</p>
<% end %>